<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ heading }}!
  </h1>  
</div>
<hr>

<input #title placeholder="Enter Title" /> <br>
<input type="button" value="Add Data" (click)='addData(title.value)'> <br>

<hr>
<ul *ngFor="let data of displayData">
  <!-- <li> {{data | json}} </li> -->
</ul>

<hr>
<table border="2">
  <thead>
    <!-- <th> Json </th> -->
    <th> UserId </th>
    <th> Id </th>
    <th> Title </th>
    <th> Body </th>
    <th> Delete </th>
    <th> Update </th>
    <!-- <th> First Name </th> -->
    <!-- <th> Last Name </th> -->
    <!-- <th> Name </th> -->
    <!-- <th> Year </th> -->
    <!-- <th> Color </th> -->
    <!-- <th> Pantone Value </th> -->
  </thead>
  <tbody>
    <tr *ngFor="let v of displayData">
      <!-- <td> {{ v | json }} </td> -->
      <td> {{ v.userId }} </td>
      <td> {{ v.id }} </td>
      <!-- <td> {{ v.first_name }} </td> -->
      <!-- <td> {{ v.last_name }} </td> -->
      <!-- <td> {{ v.data.name }} </td> -->
      <!-- <td> {{ v.data.year }} </td> -->
      <!-- <td> {{ v.data.color }} </td> -->
      <!-- <td> {{ v.data.pantone_value }} </td> -->
      <!-- <td> {{ v.userId }} </td> -->
      <td> {{ v.title }} </td>
      <td> {{ v.body }} </td>
      <td> <button title="Delete Data" name="delete" (click)="deleteData(v)"> Delete </button> </td>
      <td> <button title="Update Data" name="update" (click)="updateData(v)"> Update </button> </td>
    </tr>
  </tbody>
</table>
<hr>

<!-- <app-car-form> </app-car-form>
<app-car-table></app-car-table>
<hr> -->