<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<input #name placeholder="Enter Name" /> <br>
<input type="button" value="Add Data" (click)='addData(name.value)'> <br>
Name: {{postData.name}}

<hr>
<table border="2">
  <thead>
    <!-- <th> Json </th> -->
    <th> Id </th>
    <!-- <th> First Name </th> -->
    <!-- <th> Last Name </th> -->
    <th> Name </th>
    <th> Year </th>
    <th> Color </th>
    <th> Pantone Value </th>
  </thead>
  <tbody>
    <tr *ngFor="let v of displayData">
      <!-- <td> {{ v | json }} </td> -->
      <td> {{ v.data.id }} </td>
      <!-- <td> {{ v.first_name }} </td>
      <td> {{ v.last_name }} </td> -->
      <td> {{ v.data.name }} </td>
      <td> {{ v.data.year }} </td>
      <td> {{ v.data.color }} </td>
      <td> {{ v.data.pantone_value }} </td>
      <!-- <td> {{ v.userId }} </td> -->
      <!-- <td> {{ v.title }} </td> -->
      <!-- <td> {{ v.body }} </td> -->
    </tr>
  </tbody>
</table>
<hr>
<!--<app-car-form> </app-car-form>
<app-car-table></app-car-table>
<hr> -->